@import 'variables';

body {
    font-family: Arial, Helvetica, sans-serif;
    color: balck;
    font-size: 15px;
    max-width: 1920px;
    margin: 0 auto;
}

.no-gutters [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.container-fluid {
    padding: 0;
}

.Nav {
    background-color: white;
    width: 100%;
    height: 84px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    display: block;

    @media (max-width: $breakpoint-md) {
        height: auto;
    }
    
    &__Mobile {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid grey;
        display: none;
        float: left;
        cursor: pointer;

        &--open {
            span:nth-child(2){
                opacity: 0;
              }
              
            span:nth-child(1){
            -webkit-transform: translateY(13px) rotate(45deg);
            -ms-transform: translateY(13px) rotate(45deg);
            -o-transform: translateY(13px) rotate(45deg);
            transform: translateY(13px) rotate(45deg);
            }
              
            span:nth-child(3){
            -webkit-transform: translateY(-13px) rotate(-45deg);
            -ms-transform: translateY(-13px) rotate(-45deg);
            -o-transform: translateY(-13px) rotate(-45deg);
            transform: translateY(-13px) rotate(-45deg);
            }
        }

        span {
            width: 50px;
            height: 5px;
            background-color: black;
            display: block;
            margin: 8px auto;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        @media (max-width: $breakpoint-md) {
            display: block;
        }
    }

    &__MobileHamburger {
        width: 85px;
        float: right;
    }

    &__List {
        margin-top: 34px;
        margin-left: 50px;
        padding-left: 0;
        float: left;
        display: block;
        background-color: white;
        margin-bottom: 0;
        padding-bottom: 15px;

        @media (max-width: $breakpoint-lg) {
            margin-left: 25px;
        }

        @media (max-width: $breakpoint-md) {
            margin-top: 0;
            width: 100%;
            margin-left: 0px;
            padding-left: 15px;
            display: none;
        }

        &--open {
            position: absolute;
            display: block;
            z-index: 30;
            top: 112px;
        }
    }

    &__ListItem {
        display: inline-block;
        list-style-type: none;
        margin-right: 37px;

        @media (max-width: $breakpoint-lg) {
            margin-right: 15px;
        }

        @media (max-width: $breakpoint-md) {
            display: block;
            margin-top: 15px;
        }
    }

    &__ListLink {
        color: black;

        &:hover {
            color: black;
        }
    }

    &__logo {
        float: right;
        width: 450px;
        background-color: $red;
        height: 100%;

        @media (max-width: $breakpoint-lg) {
            width: 200px;
        }

        @media (max-width: $breakpoint-md)  {
            width: 100%;
            height: 62px;
        }

        a {
            display: block;
        }

        img {
            float: right;
            margin-top: 17px;
            margin-right: 57px;

            @media (max-width: $breakpoint-lg) {
                width: 167px;
                margin-top: 25px;
                margin-right: 17px;
            }

            @media (max-width: $breakpoint-md) {
                margin: 15 auto 0 auto;
                float: none;
                display: block;
            }
        }
    }
}

.Head {
    height: 80vh;
    width: 100%;
    background: url(img/Segelboot.jpg) center center no-repeat;
    background-size: cover;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    overflow: hidden;
    
    &:before {
        content: " ";
        display: block;
        width: 422px;
        height: 422px;
        z-index: 10;
        top: 95px;
        right: -170px;
        position: absolute;
        background: url(img/Kompass.png) center right no-repeat;
    }
    
    &__Text {
        width: 600px;
        padding: 25px 55px 90px 5px;
        float: right;
        margin-top: 140px;
        position: relative;
        z-index: 20;
        opacity: 0.9;

        @media (max-width: $breakpoint-md) {
            padding: 0 15px;
            width: 100%;
            margin-top: 120px;
        }
    }

    &__TextHeadline {
        color: $red;
        font-size: 66px;
        font-weight: 500;
        font-weight: bold;
        line-height: 70px;
        opacity: 70;

        @media (max-width: $breakpoint-md) { 
            font-size: 40px;
            line-height: 48px;
        }
    }

    p {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
    }
}

.Post {
    margin-top: -100px;

    &__Teaser {
        background-color: #e5eaee;
        height: 365px;
        padding: 216px 30px 25px 30px;
        clip-path: polygon(0 0, 100% 12.5%, 100% 100%, 50% 100%, 0 100%, 0 36%);

        @media (max-width: 1300px) {
            padding-top: 150px;
        }
        
        @media (max-width: $breakpoint-xl) {
            padding: 130px 30px 0 30px;
        }

        @media (max-width: $breakpoint-lg) { 
            height: auto;
            padding: 80px 30px 100px 30px;
        }

        &--black {
            background-color: black;
            clip-path: polygon(0 13%, 106% 25.5%, 102% 100%, 50% 100%, 0 100%, 0 36%);

            @media (max-width: $breakpoint-lg) {
                margin-top: -45px;
                clip-path: polygon(0 0, 100% 12.5%, 100% 100%, 50% 100%, 0 100%, 0 36%);
            }

            p {
              color: white;  
            }
        }

        &--big {
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 36%);
            padding: 120px 50px 0px 50px;
            background: url(img/Adira1.png) bottom right no-repeat;
            background-color: #e5eaee;


            @media (max-width: $breakpoint-lg) {
                padding: 90px 30px 90px 50px;
                margin-top: -57px;
                clip-path: polygon(0 0, 100% 12.5%, 100% 100%, 50% 100%, 0 100%, 0 36%);
            }

            @media (max-width: $breakpoint-md) {
                padding: 80px 30px 80px 30px;
            }

            .Post__Date {
                font-size: 50px;
                color: black;

                 &:before  {
                     display: none;
                 }

                 @media (max-width: $breakpoint-md) {
                    font-size: 30px;
                }
            }

            .Post__Headline {
                font-size: 30px;
            }
        }

        &--noclip {
            clip-path: none;
            margin-top: 0;
            height: 280px;
            padding-top: 45px;

            @media (max-width: $breakpoint-xl) {
                padding-top: 40px;
            }

            @media (max-width: $breakpoint-lg) {
                padding-top: 30px;
            }

            @media (max-width: $breakpoint-md) {
                height: auto;
            }
        }
    }

    &__Date {
        font-weight: bold;
        color: $grey;
        text-transform: uppercase;
        margin-bottom: 10px;

        &:before {
            content: " ";
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url(img/Kalendar.png) center center no-repeat;
            margin-right: 10px;

        }
    }

    &__Headline {
        font-size: 20px;
        text-transform: uppercase;
        color: $red;
        font-weight: bold;
    }

    &__SubHeadline {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0;
    }

    &__Paragraph {
        max-width: 400px;
    }

    &__Image {
        background: center center no-repeat;
        background-size: cover;
        width: 100%;
        height: 280px;
        display: block;
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        
        &:hover {
            color: white;
            text-decoration: none;
        }

        &--big {
            height: 560px;

            @media (max-width: $breakpoint-md) {
                height: 280px;
            }    
        }

        &--noImage {
            background-color: black;
        }

        &--link {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background-color: black;
                opacity: 0.4;
            }
        }
    }

    &__ImageText {
        padding-top: 80px;
        position: relative;
        z-index: 100;    
    }

    &__Icon {
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
}

.Content {
    background: url(img/Kompasse.png) bottom center no-repeat;
    position: relative;
    z-index: 100;
    
    &__Text {
        padding: 115px 0 300px 0;

        @media (max-width: $breakpoint-md) { 
            padding: 50px 0 270px 0;               
        }
    }

    h1 {
        font-weight: bold;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 24px;

        @media (max-width: $breakpoint-md) {
            font-size: 30px;
        }
    }

    h2 {
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        margin-bottom: 80px;

        @media (max-width: $breakpoint-md) {
            font-size: 15px;
        }

        &:before {
            content: " ";
            background-color: black;
            position: absolute;
            width: 300px;
            height: 1px;
            display: block;
            left: 0;
            right: 0;
            bottom: -20px;
            margin-left: auto; 
            margin-right: auto;
        }
    }

    p {
        color: #727272;
    }
}

.Team {
    background-color: black;
    color: white;
    clip-path: polygon(100% 0, 100% 0, 100% 900%, 0 100%, 0 11%);
    margin-top: -128px;

    @media (max-width: $breakpoint-xl) {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 7%);
    }

    @media (max-width: $breakpoint-lg) {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 2%);
    }

    @media(max-width: $breakpoint-md) {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 0.8%);
    }

    &__Group {
        width: 100%;
    }

    &__Headline1 {
        font-weight: bold;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 24px;
        padding-top: 230px;

        @media (max-width: $breakpoint-md) {
            font-size: 30px;
            padding-top: 140px;
        }
    }

    &__Headline2 {
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        margin-bottom: 80px;

        @media (max-width: $breakpoint-md) {
            font-size: 15px;
        }

        &:before {
            content: " ";
            background-color: white;
            position: absolute;
            width: 300px;
            height: 1px;
            display: block;
            left: 0;
            right: 0;
            bottom: -20px;
            margin-left: auto; 
            margin-right: auto;
        }
    }

    &__Member {
        width: 20%; 
        height: 280px;
        float: left;
        background: url(img/Segler.jpg) center center no-repeat;
        cursor: pointer;
        filter: grayscale(100%);
        transition: all 1s;
        position: relative;

        &:hover {
            filter: none;
        }

        &--info {
            background-color: #e5eaee;
            background-image: none;
            transition: none;
        }

       @media (max-width: 1400px) {
           width: 25%;
       }

       @media (max-width: $breakpoint-xl) {
           width: percentage(1/3);
       }

       @media (max-width: $breakpoint-lg) {
           width: 50%;  
       }

       @media (max-width: $breakpoint-md) {
            width: 100%;
       }
    }

    &__Text {
        position: absolute;
        bottom: 0;
        padding: 25px;
        color: black;
    }

    &__Name {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 20px;
    }

    &__Comment {
        max-width: 145px;
    }
}

.Footer {
    &__Contact {
        padding: 114px 133px 92px 143px;

        @media (max-width: 1400px) {
            padding: 70px 60px;
        }

        @media (max-width: $breakpoint-md) {
            padding: 50px 40px;
        }

        @media (max-width: $breakpoint-sd) {
            padding: 30px 15px;
        }

        h4 {
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 23px;
            font-size: 30px;

            @media (max-width: $breakpoint-md) {
                margin-bottom: 12px;
            }
        }

        h5 {
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 20px;
            margin-bottom: 18px;
        }

        input, textarea {
            border: none;
            background-color: #e8e8e8;
            padding: 13px 15px;
            width: 100%;
            margin-bottom: 14px;
        }

        textarea {
            height: 118px;
            margin-bottom: 26px;
        }

        button {
            padding: 12px 16px;
            text-transform: uppercase;
            border: 2px solid;
            font-weight: bold;
            background-color: white;
            transition: all 0.3s;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }

    &__Logos {
        background-color: black;
        padding: 54px 73px 0px 100px;
        height: 100%;

        @media (max-width: 1562px) {
            padding: 80px 0 90px 0;
        }

        @media (max-width: $breakpoint-lg) {
            padding: 90px 0 90px 0;
        }

        @media (max-width: $breakpoint-lg) {
            padding: 40px 0 90px 0;
        }

        img {
            display: block;
            float: left;
            padding: 60px;
            width: auto;

            @media (max-width: 1400px) {
                padding: 55px;
            }

            @media (max-width: $breakpoint-xl) {
                padding: 50px;
                width: 244px;
            }

            @media (max-width: $breakpoint-lg) {
                width: 50%;
                padding: 20px;
            }
        }
    }

    &__Info {
        text-align: center;
        padding: 110px 30px 55px;
        background-color: #e5eaee;
        clip-path: polygon(50% 0%, 100% 43%, 100% 100%, 0 100%, 0 43%);
        margin-top: -82px;

        @media (max-width: 1320px) {
            clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
        }


    }

    &__Link {
        float: right;

        @media (max-width: $breakpoint-xl) {
            float: none;
            display: block;
            margin-top: 20px;
        }

        ul {
            margin-bottom: 0;
            padding-left: 0;    
        }

        li {
            display: inline-block;
            list-style-type: none;
            margin-left: 22px;
        }

        img {
            display: block;
        }

        a {
            color: black;

            &:hover {
                color: black;
            }
        }
    }

    &__Copyright {
        float: left;
        color: #727272;

        @media (max-width: $breakpoint-xl) {
            float: none;
            display: block;
        }
    }

    &__Socialmedia {
        display: inline-block;
        margin-top: -15px;
        margin-left: 70px;

        @media (max-width: $breakpoint-xl) {
            display: block;
            margin-left: 0;
            margin-top: 20px;
        }

        a {
            margin-left: 20px;
            display: inline-block;
        }
    }
}