body {
  font-family: Arial, Helvetica, sans-serif;
  color: balck;
  font-size: 15px;
  max-width: 1920px;
  margin: 0 auto;
}

.no-gutters [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.container-fluid {
  padding: 0;
}

.Nav {
  background-color: white;
  width: 100%;
  height: 84px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  display: block;
}

@media (max-width: 768px) {
  .Nav {
    height: auto;
  }
}

.Nav__Mobile {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid grey;
  display: none;
  float: left;
  cursor: pointer;
}

.Nav__Mobile--open span:nth-child(2) {
  opacity: 0;
}

.Nav__Mobile--open span:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

.Nav__Mobile--open span:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

.Nav__Mobile span {
  width: 50px;
  height: 5px;
  background-color: black;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .Nav__Mobile {
    display: block;
  }
}

.Nav__MobileHamburger {
  width: 85px;
  float: right;
}

.Nav__List {
  margin-top: 34px;
  margin-left: 50px;
  padding-left: 0;
  float: left;
  display: block;
  background-color: white;
  margin-bottom: 0;
  padding-bottom: 15px;
}

@media (max-width: 992px) {
  .Nav__List {
    margin-left: 25px;
  }
}

@media (max-width: 768px) {
  .Nav__List {
    margin-top: 0;
    width: 100%;
    margin-left: 0px;
    padding-left: 15px;
    display: none;
  }
}

.Nav__List--open {
  position: absolute;
  display: block;
  z-index: 30;
  top: 112px;
}

.Nav__ListItem {
  display: inline-block;
  list-style-type: none;
  margin-right: 37px;
}

@media (max-width: 992px) {
  .Nav__ListItem {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .Nav__ListItem {
    display: block;
    margin-top: 15px;
  }
}

.Nav__ListLink {
  color: black;
}

.Nav__ListLink:hover {
  color: black;
}

.Nav__logo {
  float: right;
  width: 450px;
  background-color: #c4132f;
  height: 100%;
}

@media (max-width: 992px) {
  .Nav__logo {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .Nav__logo {
    width: 100%;
    height: 62px;
  }
}

.Nav__logo a {
  display: block;
}

.Nav__logo img {
  float: right;
  margin-top: 17px;
  margin-right: 57px;
}

@media (max-width: 992px) {
  .Nav__logo img {
    width: 167px;
    margin-top: 25px;
    margin-right: 17px;
  }
}

@media (max-width: 768px) {
  .Nav__logo img {
    margin: 15 auto 0 auto;
    float: none;
    display: block;
  }
}

.Head {
  height: 80vh;
  width: 100%;
  background: url(img/Segelboot.jpg) center center no-repeat;
  background-size: cover;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.Head:before {
  content: " ";
  display: block;
  width: 422px;
  height: 422px;
  z-index: 10;
  top: 95px;
  right: -170px;
  position: absolute;
  background: url(img/Kompass.png) center right no-repeat;
}

.Head__Text {
  width: 600px;
  padding: 25px 55px 90px 5px;
  float: right;
  margin-top: 140px;
  position: relative;
  z-index: 20;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .Head__Text {
    padding: 0 15px;
    width: 100%;
    margin-top: 120px;
  }
}

.Head__TextHeadline {
  color: #c4132f;
  font-size: 66px;
  font-weight: 500;
  font-weight: bold;
  line-height: 70px;
  opacity: 70;
}

@media (max-width: 768px) {
  .Head__TextHeadline {
    font-size: 40px;
    line-height: 48px;
  }
}

.Head p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.Post {
  margin-top: -100px;
}

.Post__Teaser {
  background-color: #e5eaee;
  height: 365px;
  padding: 216px 30px 25px 30px;
  -webkit-clip-path: polygon(0 0, 100% 12.5%, 100% 100%, 50% 100%, 0 100%, 0 36%);
          clip-path: polygon(0 0, 100% 12.5%, 100% 100%, 50% 100%, 0 100%, 0 36%);
}

@media (max-width: 1300px) {
  .Post__Teaser {
    padding-top: 150px;
  }
}

@media (max-width: 1200px) {
  .Post__Teaser {
    padding: 130px 30px 0 30px;
  }
}

@media (max-width: 992px) {
  .Post__Teaser {
    height: auto;
    padding: 80px 30px 100px 30px;
  }
}

.Post__Teaser--black {
  background-color: black;
  -webkit-clip-path: polygon(0 13%, 106% 25.5%, 102% 100%, 50% 100%, 0 100%, 0 36%);
          clip-path: polygon(0 13%, 106% 25.5%, 102% 100%, 50% 100%, 0 100%, 0 36%);
}

@media (max-width: 992px) {
  .Post__Teaser--black {
    margin-top: -45px;
    -webkit-clip-path: polygon(0 0, 100% 12.5%, 100% 100%, 50% 100%, 0 100%, 0 36%);
            clip-path: polygon(0 0, 100% 12.5%, 100% 100%, 50% 100%, 0 100%, 0 36%);
  }
}

.Post__Teaser--black p {
  color: white;
}

.Post__Teaser--big {
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 36%);
          clip-path: polygon(0 25%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 36%);
  padding: 120px 50px 0px 50px;
  background: url(img/Adira1.png) bottom right no-repeat;
  background-color: #e5eaee;
}

@media (max-width: 992px) {
  .Post__Teaser--big {
    padding: 90px 30px 90px 50px;
    margin-top: -57px;
    -webkit-clip-path: polygon(0 0, 100% 12.5%, 100% 100%, 50% 100%, 0 100%, 0 36%);
            clip-path: polygon(0 0, 100% 12.5%, 100% 100%, 50% 100%, 0 100%, 0 36%);
  }
}

@media (max-width: 768px) {
  .Post__Teaser--big {
    padding: 80px 30px 80px 30px;
  }
}

.Post__Teaser--big .Post__Date {
  font-size: 50px;
  color: black;
}

.Post__Teaser--big .Post__Date:before {
  display: none;
}

@media (max-width: 768px) {
  .Post__Teaser--big .Post__Date {
    font-size: 30px;
  }
}

.Post__Teaser--big .Post__Headline {
  font-size: 30px;
}

.Post__Teaser--noclip {
  -webkit-clip-path: none;
          clip-path: none;
  margin-top: 0;
  height: 280px;
  padding-top: 45px;
}

@media (max-width: 1200px) {
  .Post__Teaser--noclip {
    padding-top: 40px;
  }
}

@media (max-width: 992px) {
  .Post__Teaser--noclip {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .Post__Teaser--noclip {
    height: auto;
  }
}

.Post__Date {
  font-weight: bold;
  color: #717171;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.Post__Date:before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(img/Kalendar.png) center center no-repeat;
  margin-right: 10px;
}

.Post__Headline {
  font-size: 20px;
  text-transform: uppercase;
  color: #c4132f;
  font-weight: bold;
}

.Post__SubHeadline {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

.Post__Paragraph {
  max-width: 400px;
}

.Post__Image {
  background: center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 280px;
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.Post__Image:hover {
  color: white;
  text-decoration: none;
}

.Post__Image--big {
  height: 560px;
}

@media (max-width: 768px) {
  .Post__Image--big {
    height: 280px;
  }
}

.Post__Image--noImage {
  background-color: black;
}

.Post__Image--link {
  position: relative;
}

.Post__Image--link:before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
}

.Post__ImageText {
  padding-top: 80px;
  position: relative;
  z-index: 100;
}

.Post__Icon {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.Content {
  background: url(img/Kompasse.png) bottom center no-repeat;
  position: relative;
  z-index: 100;
}

.Content__Text {
  padding: 115px 0 300px 0;
}

@media (max-width: 768px) {
  .Content__Text {
    padding: 50px 0 270px 0;
  }
}

.Content h1 {
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .Content h1 {
    font-size: 30px;
  }
}

.Content h2 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .Content h2 {
    font-size: 15px;
  }
}

.Content h2:before {
  content: " ";
  background-color: black;
  position: absolute;
  width: 300px;
  height: 1px;
  display: block;
  left: 0;
  right: 0;
  bottom: -20px;
  margin-left: auto;
  margin-right: auto;
}

.Content p {
  color: #727272;
}

.Team {
  background-color: black;
  color: white;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 900%, 0 100%, 0 11%);
          clip-path: polygon(100% 0, 100% 0, 100% 900%, 0 100%, 0 11%);
  margin-top: -128px;
}

@media (max-width: 1200px) {
  .Team {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 7%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 7%);
  }
}

@media (max-width: 992px) {
  .Team {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 2%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 2%);
  }
}

@media (max-width: 768px) {
  .Team {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 0.8%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 0.8%);
  }
}

.Team__Group {
  width: 100%;
}

.Team__Headline1 {
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
  padding-top: 230px;
}

@media (max-width: 768px) {
  .Team__Headline1 {
    font-size: 30px;
    padding-top: 140px;
  }
}

.Team__Headline2 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .Team__Headline2 {
    font-size: 15px;
  }
}

.Team__Headline2:before {
  content: " ";
  background-color: white;
  position: absolute;
  width: 300px;
  height: 1px;
  display: block;
  left: 0;
  right: 0;
  bottom: -20px;
  margin-left: auto;
  margin-right: auto;
}

.Team__Member {
  width: 20%;
  height: 280px;
  float: left;
  background: url(img/Segler.jpg) center center no-repeat;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
}

.Team__Member:hover {
  -webkit-filter: none;
          filter: none;
}

.Team__Member--info {
  background-color: #e5eaee;
  background-image: none;
  -webkit-transition: none;
  transition: none;
}

@media (max-width: 1400px) {
  .Team__Member {
    width: 25%;
  }
}

@media (max-width: 1200px) {
  .Team__Member {
    width: 33.33333%;
  }
}

@media (max-width: 992px) {
  .Team__Member {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .Team__Member {
    width: 100%;
  }
}

.Team__Text {
  position: absolute;
  bottom: 0;
  padding: 25px;
  color: black;
}

.Team__Name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

.Team__Comment {
  max-width: 145px;
}

.Footer__Contact {
  padding: 114px 133px 92px 143px;
}

@media (max-width: 1400px) {
  .Footer__Contact {
    padding: 70px 60px;
  }
}

@media (max-width: 768px) {
  .Footer__Contact {
    padding: 50px 40px;
  }
}

@media (max-width: 568px) {
  .Footer__Contact {
    padding: 30px 15px;
  }
}

.Footer__Contact h4 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 23px;
  font-size: 30px;
}

@media (max-width: 768px) {
  .Footer__Contact h4 {
    margin-bottom: 12px;
  }
}

.Footer__Contact h5 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 20px;
  margin-bottom: 18px;
}

.Footer__Contact input, .Footer__Contact textarea {
  border: none;
  background-color: #e8e8e8;
  padding: 13px 15px;
  width: 100%;
  margin-bottom: 14px;
}

.Footer__Contact textarea {
  height: 118px;
  margin-bottom: 26px;
}

.Footer__Contact button {
  padding: 12px 16px;
  text-transform: uppercase;
  border: 2px solid;
  font-weight: bold;
  background-color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Footer__Contact button:hover {
  background-color: black;
  color: white;
}

.Footer__Logos {
  background-color: black;
  padding: 54px 73px 0px 100px;
  height: 100%;
}

@media (max-width: 1562px) {
  .Footer__Logos {
    padding: 80px 0 90px 0;
  }
}

@media (max-width: 992px) {
  .Footer__Logos {
    padding: 90px 0 90px 0;
  }
}

@media (max-width: 992px) {
  .Footer__Logos {
    padding: 40px 0 90px 0;
  }
}

.Footer__Logos img {
  display: block;
  float: left;
  padding: 60px;
  width: auto;
}

@media (max-width: 1400px) {
  .Footer__Logos img {
    padding: 55px;
  }
}

@media (max-width: 1200px) {
  .Footer__Logos img {
    padding: 50px;
    width: 244px;
  }
}

@media (max-width: 992px) {
  .Footer__Logos img {
    width: 50%;
    padding: 20px;
  }
}

.Footer__Info {
  text-align: center;
  padding: 110px 30px 55px;
  background-color: #e5eaee;
  -webkit-clip-path: polygon(50% 0%, 100% 43%, 100% 100%, 0 100%, 0 43%);
          clip-path: polygon(50% 0%, 100% 43%, 100% 100%, 0 100%, 0 43%);
  margin-top: -82px;
}

@media (max-width: 1320px) {
  .Footer__Info {
    -webkit-clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
            clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
  }
}

.Footer__Link {
  float: right;
}

@media (max-width: 1200px) {
  .Footer__Link {
    float: none;
    display: block;
    margin-top: 20px;
  }
}

.Footer__Link ul {
  margin-bottom: 0;
  padding-left: 0;
}

.Footer__Link li {
  display: inline-block;
  list-style-type: none;
  margin-left: 22px;
}

.Footer__Link img {
  display: block;
}

.Footer__Link a {
  color: black;
}

.Footer__Link a:hover {
  color: black;
}

.Footer__Copyright {
  float: left;
  color: #727272;
}

@media (max-width: 1200px) {
  .Footer__Copyright {
    float: none;
    display: block;
  }
}

.Footer__Socialmedia {
  display: inline-block;
  margin-top: -15px;
  margin-left: 70px;
}

@media (max-width: 1200px) {
  .Footer__Socialmedia {
    display: block;
    margin-left: 0;
    margin-top: 20px;
  }
}

.Footer__Socialmedia a {
  margin-left: 20px;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */